/* Your code goes here */

.container {
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  flex-basis: 800px;
}

/*
flex-basis
container has a) space left or b) is overfull
look at a) flex-grow and b) flex-shrink
calculate portions each item will grow or shrink
add that to the base size of the item

basis + flex-grow - flex-shrink
*/

.container div {
  float: right;
  flex: 1 1 25%;
  margin: 0;
}

.container div:nth-child(2) {
  flex-grow: 2;
}

.container div:nth-child(3) {

}
